/* general and variables */
:root {
  /* colors */
  --color-primary:  #e20613;
  --color-primary-dark: #c1101a;
  --color-secondary: #d34503;
  --color-support-light: #ffffff;
  --color-support-medium: #9a999e;
  --color-support-dark: #231f20;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  -webkit-font-smoothing: antialiased;
}
/* html {
  ::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-support-dark);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-dark);
  }
} */
html, body {
  overflow-x: hidden !important;
  position: relative;
}
a {
  text-decoration: none;
  color: unset;
}
button {
  outline: 0;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 84px 0;
}
.container-wrapper {
  max-width: max-content;
  margin: auto;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 56px;
}
.section-text {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
}
/* header */
.header {
  position: relative;
  .container {
    padding: 0;
  }
  #wrapper {
    position: absolute;
    top: 32px;
    .menu_wrapper {
      display: flex;
      align-items: center;
      border-bottom: 1px solid transparent;
      padding: 16px 16px 16px 0;
      margin: 0 0 27px 0;
      height: 24px;
    }
    .menu_wrapper-active {
      border-bottom: 1px solid #949494;
    }
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin: 0 32px 0 0;
    .line {
      width: 24px;
      height: 3px;
      background: var(--color-support-dark);
      border-radius: 50px;
      transition: .3s;
    }
    &:hover {
      .line {
        background: var(--color-primary);
      }
    }
  }
  .logo-top {
    display: none;
    img {
      width: 132px;
    }
  }
  .line1-active {
    transform: rotate(-30deg);
    position: relative;
    top: 2px;
    width: 20px !important;
  }
  .line2-active {
    opacity: 0;
  }
  .line3-active {
    transform: rotate(30deg);
    position: relative;
    bottom: 2px;
    width: 20px !important;
  }
  .links {
    opacity: 0;
    transition: .2s;
    display: flex;
    gap: 24px;
    align-items: center;
    a {
      font-size: 20px;
      font-weight: 800;
      color: #949494;
      font-style: italic;
      transition: .2s;
      &:hover {
        color: var(--color-primary);
      }
    }
    .divisor {
      height: 20px;
      width: 2px;
      background: var(--color-primary);
    }
  }
  .links-active {
    opacity: 1;
  }
  .logo {
    margin: 0px 0 0 -2px;
    img {
      height: 80px;
    }
  }
}

/* banner */
.banner {
  background-image: url("../assets/images/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  .container {
    padding: 221px 0 94px 0;
  }
  h1 {
    background-image: url("../assets/images/banner-name-bg.svg");
    background-size: 52% 100%;
    background-repeat: no-repeat;
    background-position: 13px -15px;
    font-size: 60px;
    font-style: italic;
    padding: 75px 0;
  }
}

/* highlight banner footer */
.highlight-area {
  background: linear-gradient(90deg, var(--color-primary-dark) 50%, var(--color-secondary) 50%);
  .items {
    display: flex;
    a {
      display: flex;
    }
    .group {
      display: flex;
      justify-content: flex-end;
      gap: 22px;
      background: var(--color-primary-dark);
      padding: 23px 48px 23px 0;
      width: 70%;
      .divisor {
        width: 33px;
        height: 100%;
        background: var(--color-support-dark);
      }
    }
    .single {
      background: var(--color-secondary);
      padding: 23px 0 23px 48px;
      width: 30%;
      display: flex;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-support-light);
      justify-content: flex-end;
      figure {
        margin: 0 0 10px 0;
        img {
          width: 42px;
          transition: .2s;
        }
      }
      span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 200;
      }
      figcaption {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        text-wrap: nowrap;
      }
      &:hover {
        img {
          filter: invert(1);
        }
      }
    }
  }
}

/* premios */
.premios {
  background-image: url("../assets/images/premios-bg.png");
  background-size: cover;
  position: relative;
  .arrows {
    position: absolute;
    right: 10vw;
    bottom: -10vh;
    width: 74px;
    z-index: 1;
  }
  .section-title {
    color: var(--color-support-dark);
  }
  .container {
    padding: 68px 0;
  }
  /* pills */
  .pills {
    display: flex;
    height: 454px;
    .pills-container {
      display: flex;
      flex-direction: column;
      gap: 9px 0;
      justify-content: flex-end;
      margin: 0 0 -2px 0;
      .pill {
        padding: 14px 20px;
        cursor: pointer;
        border: 2px solid var(--color-support-medium);
        border-radius: 100px;
        transition: background-color 0.3s, color 0.3s;
        width: 138px;
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        color: var(--color-support-medium);
        text-transform: uppercase;
        transition: .2s;
        &:hover {
          border: 2px solid var(--color-primary);
        }
        &.active {
          background-color: var(--color-primary);
          color: var(--color-support-light);
          border: 2px solid var(--color-primary);
        }
      }
      img {
        width: 110px;
        margin: 22px 0 -28px 36px;
      }
    }
    .content {
      padding: 56px 20px;
      display: flex;
      align-items: flex-end;
      width: 100%;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.4s ease, transform 0.4s ease;
      pointer-events: none;
    }
    .content.hidden {
      display: none; 
    }
    .content.visible {
      display: flex;
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
    }
    .items {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          width: min-content;
          .premio-item-title {
            font-size: 28px;
            font-weight: bold;
            width: 80%;
            font-style: italic;
          }
          figcaption {
            font-size: 18px;
            font-style: italic;
            margin: -12px 0 16px 0 !important;
          }
          img {
            position: relative;
            top: -18px;
            margin: 4px 0 10px 0;
          }
        }
        figure {
          margin: 0 !important;
          img {
            object-fit: contain;
            height: 220px;
          }
        }
      }
    }
  }
}

/* placar */
.placar {
  background: url("../assets/images/placar-bg.png"), #000;
  background-size: cover;
  position: relative;
  .container {
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .section-title {
    color: var(--color-support-light);
  }
  /* pills */
  .placar-pills {
    display: flex;
    .nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-right: 20px;
      .nav-button {
        color: var(--color-support-light);
        transition: 0.2s;
        cursor: pointer;
        background: transparent;
        border: none;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        text-align: left;
        &:hover {
          color: var(--color-primary-dark);
        }
        &.active {
          color: var(--color-primary);
        }
        img {
          position: relative;
          top: 20px;
          left: -70px;
        }
        p {
          width: 70%;
        }
      }
    } 
    .tab-content {
      width: 100%;
      position: relative;
      .tab-pane {
        position: relative;
        width: 100%;
        opacity: 0; 
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        color: #fff;
        padding: 58px;
        display: none;
        gap: 32px; 
        &.active {
          display: flex;
          opacity: 1;
          transform: translateY(0);
          z-index: 1;
        } 
        .info-wrapper {
          width: 20%; 
          .pic {
            .place {
              font-weight: bold;
              font-style: italic;
              font-size: 112px;
              position: absolute;
              left: 0;
              top: 8px;
              letter-spacing: -5px;
            }
          } 
          .info {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-style: italic; 
            #name {
              font-weight: bold;
              margin: 4px 0 0 0;
              text-transform: uppercase;
            } 
            span {
              font-weight: 100;
              font-size: 14px;
            } 
            #points {
              font-weight: bold;
            }
          }
        }
  
        /* ranking */
        .ranking-wrapper {
          width: 80%;
          .ranking {
            display: flex;
            flex-direction: column;
            gap: 14px;
            .item {
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid var(--color-primary-dark);
              padding: 6px 6px 6px 2px;
              div {
                display: flex;
                gap: 12px;
                font-size: 18px;
                .place {
                  font-weight: bold;
                }
                img {
                  width: 32px;
                }
              }
            }
          }
        }
      }
    }
  }    
}

/* fun zone */
.funzone {
  background-image: url("../assets/images/funzone-bg.png");
  background-size: cover;
  background-position: center 50%;
  color: var(--color-support-light);
  .container {
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .section-text {
    margin: 72px 0;
  }
  .items {
    display: flex;
    justify-content: space-evenly;
    .item {
      text-align: center;
      display: flex;
      align-items: center;
      p {
        font-weight: bold;
        font-size: 36px;
        font-style: italic;
      }
      span {
        font-weight: 300;
        font-size: 32px;
      }
      div {
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 36px;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

/* fullscreen video */
.fullscreen-video {
  background-image: url("../assets/images/video-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 510px;
}

/* footer */
footer {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

/* responsive */
@media (max-width: 1340px) {
  .container {
    max-width: 1080px;
  }
  /* premios */
  .premios {
    /* pills */
    .pills {
      .pills-container {
        .pill {
          font-size: 22px;
        }
      }
    }
  }
  /* placar */
  .placar {
    /* pills */
    .placar-pills {
      flex-direction: column;
      .nav {
        flex-direction: row;
        gap: 0;
        margin: 48px -100px 0 0;
        justify-content: center;
        .nav-button {
          img {
            left: -50px;
            width: 180px;
          }
        }
      }
      .tab-content {
        .tab-pane {
          .info-wrapper {
            width: 15%;
          }
          /* ranking */
          .ranking-wrapper {
            width: 70%;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) { 
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 940px;
  }
  .header {
    #wrapper {
      .menu_wrapper {
        background: var(--color-support-light);
      }
    }
  }
  .premios {
    .pills {
      flex-direction: column;
      margin: 48px 0 0 0;
      height: auto;
      .pills-container {
        flex-direction: row;
        gap: 10px;
        .pill {
          font-size: 18px;
        }
        img {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .container {
    max-width: 840px;
  }
  .header {
    .container {
      #wrapper {
        top: 1%;
        left: 5%;
        .menu_wrapper {
          margin: 0 0 12px 0;
        }
      }
    }
  }
  .banner {
    background-size: cover;
    background-position: 50%;
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 221px 0 44px 0;
      background: linear-gradient(360deg, #00000060, transparent);
      margin: 0;
    }
    h1 {
      padding: 0;
      color: var(--color-support-light);
      width: 50%;
      background-size: cover;
    }
  }
  .placar {
    .placar-pills {
      margin: 48px 0 0 0;
      .nav {
        overflow-x: scroll;
        width: 720px;
        margin: auto;
        gap: 50px;
        .nav-button {
          &:first-child {
            margin-left: 250px;
          }
          p {
            width: 90%;
          }
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 750px;
  }
  .premios {
    .pills {
      .content {
        .items {
          
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 730px;
  }
  .header {
    .container {
      #wrapper {
        top: 0;
        left: 0;
        width: 100vw;
        transition: background-color, .1s;
        .menu_wrapper {
          flex-direction: column;
          padding: 16px 16px 16px 0;
          width: 100vw;
          background: transparent;
          #mob-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: auto;
            gap: 8px;
            padding: 0 30px;
            .logo-top {
              display: flex;
              position: relative;
              top: 10px;
            }
          }
          .links {
            display: flex;
            background: var(--color-support-light);
            width: 100vw;
            padding: 40px 0;
            flex-direction: column;
            position: relative;
            top: -60%;
            a {
              width: 86vw;
            }
            .divisor {
              height: 1px;
              width: 40vw;
              margin-right: auto;
              background: var(--color-primary);
              margin-left: 30px;
            }
          }
        }
        .menu_wrapper-active {
          border: none;
          padding: 16px 16px 56px 0;
        }
        .mob_wrapper-active {
          align-items: center !important;
          z-index: 1;
          gap: 0 !important;
          flex-direction: row !important;
        }
      }
    }
    .logo {
      display: none;
    }
    .logo-active {
      display: flex;
    }
    .wrapper-active {
      background: var(--color-support-light);
    }
  }
  .banner {
    .container {
      width: 100vw;
      h1 {
        width: 70%;
        text-align: center;
      }
    }
  }
  /* highlight banner footer */
  .highlight-area {
    background: var(--color-primary-dark);
    .items {
      .group {
        align-items: flex-start;
        width: 100%;
        padding: 23px;
        .divisor {
          width: 3px;
        }
      }
      .single {
        display: none;
      }
      .item {
        figcaption {
          text-wrap: wrap;
          text-align: center;
        }
      }
    }
  }
  .premios {
    .arrows {
      right: -6vw;
      bottom: 38vh;
    }
    .section-title {
      width: 100vw;
    }
    .pills {
      width: 100vw;
      .pills-container {
        width: 82vw;
        overflow-x: scroll;
        margin: auto;
        justify-content: flex-start;
        .pill {
          padding: 10px 20px;
        }
        .pill:nth-last-child(1) {
          margin: 0 50% 0 0;
        }
      }
      .content {
        width: 100vw;
        padding-left: 0;
        .items {
          flex-direction: column;
          align-items: center;
          gap: 48px;
          .item {
            align-items: center;
          }
        }
      }
    }
  }
  /* placar */
  .placar {
    .container {
      header {
        width: 100vw;
      }
    }
    .placar-pills {
      width: 100vw;
      .nav {
        width: 100vw;
        margin: auto;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 50px;
        .nav-button {
          &:first-child {
            margin-left: 100px;
          }
          p {
            width: 90%;
          }
        }
      }
      .tab-content {
        width: 100vw;
        margin: auto;
        .tab-pane {
          flex-direction: column;
          width: auto;
          margin: auto;
          .ranking-wrapper {
            width: 100%;
            margin: auto;
          }
        }
      }
    }
  }
  .funzone {
    .container {
      header {
        width: 100vw;
      }
    }
    .section-text {
      margin: 48px 0;
    }
    .items {
      width: 100vw;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      .item {
        p {
          font-size: 32px;
        }
        span {
          font-size: 28px;
        }
        div {
          img {
            width: 28px;
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .header {
    .container {
      #wrapper {
        .menu_wrapper {
          margin: 0;
        }
      }
    }
    .logo {
      margin: 0;
      img {
        width: 160px;
      }
    }
  }
  .highlight-area {
    .items {
      .group {
        gap: 15px;
      }
      .single {
        display: none;
      }
    }
  }
  .placar {
    .placar-pills {
      .tab-content {
        .tab-pane {
          flex-direction: column;
          .ranking-wrapper {
            .ranking {
              .item {
                flex-direction: column;
                padding: 6px 6px 10px 2px;
                div {
                  &:nth-child(2), &:nth-child(3) {
                    img {
                      display: none;
                    }
                    p {
                      margin: 0 0 0 70px;
                    }
                  }
                }
              }
            }
          }
          .info-wrapper {
            width: 62%;
            margin: 0 0 0 150px;
            .pic {
              position: relative;
              .place {
                left: -40px;
                top: -56px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  
}